config/config.ini
.idea/
web_cache
web_cache/
documents/tmp/*
documents/ddjj/*
nbproject
node_modules
styles/solicitudes/*
styles/img/firmas/*
styles/img/personal/*
src/controlador/ImpresionCertificadoApi/*
WS_SNVX/config_ws.php
