$ddjj-primary:#366092;
$ddjj-secondary:#000000;
$ddjj-tertiary:#f1f1f1;
$ddjj-alert:#ff0000;

$form-line-border:#cccccc;

$ddjj-primary-degrade:rgba(180, 202, 228, 0.48);
$ddjj-primary-degrade-noTransparency:#dbe6f2;

$sanciones-gray:#efefef;
$sanciones-degrade:#bcd3ec;


$tooltip-border: #ffe79e;
$tooltip-background: #fff4c9;
$tooltip-color: #635145;


$danger-color: #a94442;
$danger-background: #f2dede;
$danger-border: #ebccd1;
