INSERT INTO partida (id_partida, id_arancel, partida, denominacion, reo, unidad_medida, criterio_valor, activo) VALUES (1637, 1, '2835291000', '- - - De hierro', '', 'kg', 0.00, true);
INSERT INTO partida (id_partida, id_arancel, partida, denominacion, reo, unidad_medida, criterio_valor, activo) VALUES (1638, 1, '2835292000', '- - - De triamonio', '', 'kg', 0.00, true);
INSERT INTO partida (id_partida, id_arancel, partida, denominacion, reo, unidad_medida, criterio_valor, activo) VALUES (1639, 1, '2835299000', '- - - Los demás', '', 'kg', 0.00, true);


UPDATE arancel SET vigente = true WHERE id_arancel = 1;





//la paz
update usuario set usuario = 'C1',clave='123456' where id_persona = 5214;
update usuario set usuario = 'C2',clave='123456' where id_persona = 5212;
update empresa_persona set activo = 0 where id_regional = 1 or id_regional =2;
update empresa_persona set activo = 1 where id_persona = 5214 or id_persona = 5212;



update usuario set usuario = 'U',clave='123456' where id_persona = 35;
update empresa_persona set id_perfil = 25 where id_persona = 35;

update perfil_opciones set activo = true where id_perfil_opciones = 11;
update perfil_opciones set habilitado = 1 where id_perfil_opciones = 11;
update perfil set opciones = opciones || 'k' where id_perfil = 19;

ALTER SEQUENCE partida_id_partida_seq RESTART WITH 9000;
ALTER SEQUENCE arancel_id_arancel_seq RESTART WITH 100;

//-------------------------------------------------------------------------------------------

alter table zonas_especiales drop criterio_valor;
alter table acuerdo drop criterio_valor;
alter table partida drop criterio_valor;
alter table criterio_origen drop criterio_valor;
alter table actividad_economica drop criterio_valor;
alter table tipo_empresa drop criterio_valor;
alter table empresa_afiliacion drop criterio_valor;
alter table departamento drop criterio_valor;
alter table ciudad drop criterio_valor;
alter table municipio drop criterio_valor;
alter table rubro_exportaciones drop criterio_valor;

//---------------------para ver que certificador tiene asignado--------------------
SELECT sc.id_asistente,pe.nombres, pe.paterno, pe.materno, us.usuario, us.clave
  FROM servicio_exportador se JOIN declaracion_jurada dj ON(se.id_servicio_exportador=dj.id_servicio_exportador)
   JOIN sistema_colas sc ON(se.id_servicio_exportador=sc.id_servicio_exportador)
   JOIN persona pe ON(pe.id_persona=sc.id_asistente)
   JOIN usuario us ON(us.id_persona = pe.id_persona)
  WHERE dj.id_ddjj = 20